<div class="mt-4">
    <h3>Dang ky khoa hoc</h3>
    <form method="POST" action="/courses/store">
        <div class="form-group">
            <label for="name">Mo ta</label>
            <input type="email" id="name" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label for="description">Mo ta</label>
            <input type="email" id="description" class="form-control" name="description">
        </div>
        <div class="form-group">
            <label for="videoId">Mo ta</label>
            <input type="email" id="videoId" class="form-control" name="videoId">
        </div>
        <div class="form-group">
            <label for="level">Mo ta</label>
            <input type="email" id="level" class="form-control" name="level">
        </div>
        <button type="submit" class="btn btn-primary">Them khoa hoc</button>
    </form>
</div>